<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sunflour POS - Login Sistem</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body>
        <div class="container">
            <h2>Login</h2>
            <div th:if="${error != null}" class="alert-danger" th:text="${error}"></div>
            <form th:action="@{/auth/login}" method="post" class="form-container">
                <div class="form-control">
                    <label for="noTelp">ID: </label>
                    <input type="text" id="noTelp" name="noTelp" required placeholder="Ketik ID anda . . ."/>
                </div>

                <div class="form-control">
                    <label for="password">Password: </label>
                    <input type="password" id="password" name="password" required placeholder="Ketik password anda . . ."/>
                </div>

                <div class="form-action">
                    <button type="submit">Continue</button>
                </div>
            </form>
        </div>
    </body>
</html>