<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sunflour POS - Form Customer</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body>
        <div class="container">
            <h2 th:text="${customer.idCustomer == 0 ? 'Registrasi pelanggan' : 'Ubah data pelanggan'}"></h2>
            <p><a th:href="@{/customer}">Batal</a></p>

            <form th:action="@{/customer/simpan}" th:object="${customer}" method="post" class="form-container">
                <input type="hidden" th:field="*{idCustomer}"/>

                <div class="form-control">
                    <label for="nama">Nama Pelanggan: </label>
                    <input type="text" th:field="*{nama}" required placeholder="Ketik nama pelanggan. . ."/>
                </div>

                <div class="form-control">
                    <label for="noTelp">Nomor Telepon: </label>
                    <input type="text" th:field="*{noTelp}" required placeholder="Contoh: 08XXXXXXXXXX. . ."/>
                </div>

                <div type="hidden" th:field="*{poin}"/>
                <div type="hidden" th:field="*{expiredPoin}"/>

                <div class="form-action">
                    <button type="submit">Simpan</button>
                </div>
            </form>
        </div>
    </body>
</html>