<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sunflour POS - Formulir Produk</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>

    <body>
        <div class="container">
            <h2 th:text="${barang.idBarang == 0} ? 'Tambah Produk Baru' : 'Ubah Data Produk'"></h2>
            <p><a th:href="@{/barang}">Batal</a></p>

            <form th:action="@{/barang/simpan}" th:object="${barang}" method="post" class="form-container">
                <input type="hidden" th:field="*{idBarang}"/>
                <div class="form-control">
                    <label>Nama Produk: </label>
                    <input type="text" th:field="*{namaBarang}" required/>
                </div>

                <div class="form-control">
                    <label>Harga: </label>
                    <input type="number" th:field="*{harga}" min="0" required/>
                </div>

                <div class="form-control">
                    <label>Stok: </label>
                    <input type="number" th:field="*{stok}" min="0" required/>
                </div>

                <div class="form-control">
                    <label>Deskripsi: </label>
                    <textarea th:field="*{deskripsi}" required></textarea>
                </div>

                <div class="form-action">
                    <button type="submit">Simpan</button>
                </div>
            </form>
        </div>
    </body>
</html>